// /////////////////////////
// @@ VARIABLES
// ////////////////////////


// colors v1
$main: rgb(14, 45, 170);
$gray: rgb(81, 80, 82);
$accent: rgb(247, 184, 1);
$black: rgb(7, 7, 10);
$white: rgb(255, 255, 250);


// FONTS VARIABLES
$ff-sans: 'Raleway', sans-serif;
$ff-size: 1.6rem;
$fw-normal: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// LAYOUT VARIABLES
$margin-b: 3rem;
$margin-bb: 6rem;

// OTHER
$trans-speed: .3s;
