{#
/**
 * 2019-12-20
 * contact-overlay only visible on mobile devices 
 *
 */
#}

<div class="r-overlay-contact">
    <div class="r-overlay-contact__inner">
        <div class="r-overlay-contact__close js-close-contact">
            <div class="c-close-btn c-close-btn--black"></div>
        </div>

        <div class="r-overlay-contact__body">
            <!-- block-region translatable (not btw and phone) with custom-block -->
            {{ page.contactoverlay }}
            <a class="c-phone c-phone--overlay" href="tel:+32475548992">+32 475 54 89 92</a> 
        </div>
    </div>
</div>