{#
/**
 * 2019-12-20
 *
 * footer region
 */
#}

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__left-inner">
                    {{ page.footerleft }}
                    <a class="c-phone__link c-phone__link--white" href="tel:+32475548992">+32 475 54 89 92</a>
                </div>
            </div>
            <!-- only noticeable on desktop view -->
            <div class="footer__right">
                <div class="c-footer-menu">                
                    {{ page.footerright }}
                </div>
            </div>
        </div>   
    </div>
</footer>