{#
/**
 * 2019-12-20
 *
 *
 * main-content region
 */
#}

<div class="container">
    <div class="container__smaller">
        <div class="r-main">
            <main role="main">
                <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
                    {{ page.content }}  
            </main>    
        </div>
    </div>
</div>