{#
/**
 * 2019-12-20
 * menu-overlay only visible on appliances under a width of 1000px
 *
 */
#}

<div class="r-menu-overlay">
    <div class="r-menu-overlay__close js-close-menu">
        <span class="c-close-btn">&nbsp;</span>
    </div>
    <div class="r-menu-overlay__list">
        <div class="c-menu-overlay">
            {{ page.mobilemenu }}
        </div>
    </div>
</div>