// /////////////////////////
// @@ FOOTER REGION
// ////////////////////////

.footer {
    background-color: $gray;
    color: $white;
    padding: 3rem 0;

    &__inner {
        @include mq(tablet) {
        display: flex;
        justify-content: space-between;
        }
    }

    
    
    &__left {
        display: flex;
        justify-content: center;
    }

    &__right {
        display: none;
        text-align: right;

        @include mq(tablet) {
            display: block;
        }

    }
}