// //////////////////////////////
// @@ MENU HEADER
// //////////////////////////////

.r-header {
  background-image: url("../images/blueskyshuttle-header-bcg-600.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: $margin-bb;

  @include mq(tablet) {
    background-image: url("../images/blueskyshuttle-header-bcg-1000.jpg");
    background-position: center;
  }

  @include mq(desktop) {
    // background-image: url("../images/blueskyshuttle-header-bcg-1000.jpg");
    // background-position: bottom;
  }

  &__inner {
    position: relative;
    min-height: 47rem;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
      "contact phone menu"
      "logo logo .";

      @include mq(tablet)  {
        grid-template-areas: 
          "contact . menu"
          "logo logo .";
      }

      @include mq(desktop)  {
        grid-template-areas: 
          ". . ."
          "logo logo .";
      }

      &--no-height {
        min-height: 0;
      }
  }  

  &__contact {
    grid-area: contact;
    justify-self: start;
    padding-top: 1.3rem;

    @include mq(tablet) {
      display: none;
    }
  }

  &__phone {
    grid-area: phone;
    margin-top: -1rem;
    justify-self: center;

    @include mq(tablet) {
      display: none;
    }
  }

  &__menu {
    // grid-area: menu;
    // justify-self: end;
    // customer wanted the menu fixed afterwards 
    position: fixed;
    right: 3rem;

    @include mq(desktop) {
      display: none;
    }

    &-open {
      position: fixed;
    }
  }

  &__logo {
    width: 50%;
    max-width: 30rem;
    grid-area: logo;
    align-self: end;

  }

}