// //////////////////////////////
// @@ MENU OVERLAY REGION
// //////////////////////////////

.r-menu-overlay {
  right: -100vw;

  @include bcg-overlay($main);
  
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    ". btn ."
    ". list ."
    ". . .";
  
  @include mq(desktop) {
    display: none;
  }

  &__close {
    grid-area: btn;
    justify-self: end;
    padding-top: 3rem;
    
  }

  &__list {
    grid-area: list;
    align-self: center;
    justify-self: center;
    text-align: center;

    & .c-main-menu__items {
      display: flex;
      flex-direction: column;
    }

    & .c-main-menu__item {
      margin-left: 0;
        font: {
            size: 4rem;
        };
        line-height: 6rem;

      &:not(:last-child) {
        padding-right: 0;
      }
    }

    & .c-main-menu__link {
      line-height: 4rem;
      color: $white;
    }
  }

  &--visible {
    opacity: 1;
    right: 0;
  }
}