// //////////////////////////////
// @@ CONTACT-OVERLAY
// //////////////////////////////

.r-overlay-contact {
  left: -100vw;

  @include bcg-overlay($accent, $black);

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__close {
    padding-top: 1rem;
    padding-left: 2rem;
    height: 20rem;
  }

  &__body {
    width: 60vw;
    align-self: center;
  }

  &--visible {
    opacity: 1;
    left: 0;
  }

}