// /////////////////////////
// @@ FORMS 
// ////////////////////////

.c-form {

    &__label {
        display: inline-block;
        color: $accent;
        background-color: $main;
        padding: 1rem;
        width: 15rem;
        text-align: center;
        font: {
            size: 1.2rem;
        };

        &.option {
            margin-left: 1rem;
        }

        @include mq(tablet) {
            font: {
                size: 1.6rem;
            };
        }
    }

    &__input {
        max-width: 100%;
        padding: 1rem;
        border: 1px solid $main;
    }

    &__textarea {
        max-width: 100%;
        padding: 1rem;
        border: 1px solid $main;
    }

    &__fieldset {
        max-width: 100%;

        &-legende {}
    }

    &__submit {
        background-color: $main;
        color: $accent;
        padding: 1rem;
        width: 100%;
    }

    &__select {
        padding: 1rem;
        border: 1px solid $main;
    }
}

.fieldset-wrapper {
    width: 80vw;
}

// radio selection type of transport
.webform-options-display-two-columns {
    margin-top: 2rem;
}