// //////////////////////////////
// @@ MENU FOOTER COMPONENT
// //////////////////////////////

// class add on the a href with {{ link(item.title, item.url, { class: ['menu__link'] }) }}
.c-footer-menu {

    & .menu {

        &__items {
            list-style: none;
        }

        &__item {
            margin-left: 0;
            font: {
                size: 1.7rem;
            };

            &:last-child {
                margin-bottom: 0;
            }

            & .is-active {
                color: $accent;
            }
        }

        &__link {
            text-decoration: none;
            line-height: 3rem;
            color: $white;

            &:hover {
                color: $accent;
            }
        }
    }

}