{#
/**
 * 2019-12-18
 *
 * header on the front page, only difference with 
 * the header on the page is an extra class "r-header__inner--no-height".
 */
#}

<div class="r-header">
    <div class="container">
        <div class="r-header__inner">
            <div class="r-header__contact js-open-contact">
                <img class="c-contact-btn" src="{{ base_path ~ directory }}/images/contact-btn.png" alt="">
            </div>
            <div class="r-header__phone">
                <div class="c-phone">
                    <a class="c-phone__link c-phone__link--black" href="tel:+32475548992">+32 475 54 89 92</a>
                </div>
            </div>
            <div class="r-header__menu">
                <div class="r-header__menu--open">
                    <div class="c-hamburger-btn">
                        <span class="c-hamburger-btn--open">&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="r-header__logo">
                <a href="{{ path('<front>') }}">
                    <img src="{{ base_path ~ directory }}/images/logo.png" alt="Blueskyshuttle logo">
                </a>                
            </div>
        </div>
    </div>
</div>