{#
/**
 * 2019-12-20
 * include on frontpage
 * 
 */
#}

<div class="container">
    <div class="container__smaller">
        <div class="r-services">
            {{ page.services }}
        </div>
    </div>
</div>
